html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
    padding: 20px;
}

.col-md-12.h-100 {
    height: 100%;
    display: flex;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-body.chat-history {
    overflow-y: scroll;
    flex-grow: 1;
}

.editor {
    min-height: 75px; 
    max-height: 75px; 
    overflow-y: auto;
}

.message {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 5px;
}

.message-header {
    background-color: #f8f9fa;
    font-weight: bold;
    font-size: x-small;
    padding: 8px;
}

.delete-button {
    color: red;
    cursor:pointer;
}

.delete-button:hover {
    color: red;
    text-decoration: none;
}

.message-text {
    padding: 8px;
    font-size: small;

}

.app-version {
    font-size: x-small;
}
